*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --very_dark_blue: hsl(238, 29%, 16%);
    --soft_red: hsl(14, 88%, 65%);
    --soft_violet:  hsl(273, 75%, 66%);
    --dark_violet:  hsla(255, 55%, 50%, 0.8);
    --very_dark_grayish_blue: hsl(237, 12%, 33%);
    --dark_grayish_blue: hsl(240, 6%, 50%);
    --light_grayish_blue: hsl(240, 5%, 91%);
    --white: #fff;
}
html {
    font-size: 12px;
}
body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(var(--soft_violet) 0%, var(--dark_violet) 50%) fixed;
}
.container {
    display: grid;  
}
.container__items {
    background-color:var(--white);
    margin: 13.5rem 1.5rem 4rem 1.5rem;
    padding-bottom: 4rem;
    border-radius: 1.5rem;
    color: var(--dark_grayish_blue);
    font-size: 1.1rem;
}
.image__container-desktop {
    display: none;
}
.image__container-mobile {
    display: block;
    min-width: 20rem;
    max-width: 22rem;
    object-fit: cover;
    position: absolute;
    top: 21.5%;
    left: 50%;
    transform: translate(-50%, -50%);   
    filter: drop-shadow(0 2.5em 0  var(--light_grayish_blue));
}
h1 {
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 10rem;
    text-align: center;
    color: var(--very_dark_blue);
}
.item .question {
    padding: 1rem;
}
.item .answer {
    display: none;
    padding-left: 1rem;
    padding-right: 4rem;
}
 hr {
    margin: 0 1rem;
    border-color: var(--light_grayish_blue);
    opacity: 0.4;
}
.question::after {
    content: url('images/icon-arrow-down.svg');
    float: right;
}
.question:hover {
    cursor: pointer;
    color: var(--soft_red);
}
.active {
    font-weight: 700;
}
.active::after {
    content: url('images/icon-arrow-down.svg');
    float: right;
    transform: rotateX(180deg);
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 1000px) {
    .image__container-mobile {
        display: none;
    }  
    .image__container-desktop {
        display: block;
    }
    .image-woman-desktop {
        width: 100%;
        max-width: 24rem;;
        position: absolute;
        left: calc(100vw - 75%);
        top: 50%;
        transform: translate(-50%, -50%);   
    }
    .image-box {
        width: 100%;
        max-width: 10rem;
        position: absolute;
        top: 54%;
        left: calc(100vw - 83%);
        transform: translate(-50%, -50%);
    }
    .image-desktop-background {
        width: 100%;
        max-width: 45rem;
        position: absolute;
        top: 50%;
        left: calc(100vw - 85%);
        transform: translate(-50%, -50%);
    }
   .container__items {
    min-width: 70rem;
    max-width: 75rem;
    align-self: center;
    justify-self: center;
    padding: 1rem 4rem 1rem 24rem;
   }
   h1 {
    padding: 2rem 1rem;
    text-align: left;
    } 
}